<section class="apropos" id="apropos" [ngStyle]="{'background': 'url(../assets/images/Fond.jpg)no-repeat', width:'100%', height:'140vh',  }">
    <div class="heading">
        <h2>A Propos de Nous</h2>

    </div>

    <div class="apropos-container">
       
        <div class="apropos-text">
            <p class="text1">  <b>ROM’S MEDIA </b> est une entreprise spécialisée dans l’Infographie,  la Photographie, la Vidéographie, le Marketing Digital et la Conception Web Mobile. </p>
            
        <div class="button">Objectifs</div>
            <p class="text2">Notre objectif est d’aider nos Clients à atteindre leurs objectifs de communication visuelle et digitale grace à notre expertise et à notre passion pour la création. </p>
            <p class="text3"> Nous proposons une large gamme de services 
                créatifs pour répondre aux besoins de nos clients.En matière <b>d’INFOGRAPHIE</b> , nous créons des designs
                 uniques et sur mesure pour des supports de  communication
                tels que: des logos, des flyers, des brochures, des affiches, etc.
                
                Nos <b> PHOTOGRAPHIES & VIDEOGRAPHIES</b>  de
                qualité professionnelle sont conçues pour mettre en valeur
                 l’image de marque de nos clients et captiver leur public.
                
                Notre expertise en <b> MARKETING DIGITAL</b>  nous permet
                de développer des stratégies efficaces pour augmenter la visibilité et la notoriété de nos clients sur le web. Nous proposons
                également des services de conception web mobile pour créer
                des sites web et des applications mobiles optimisées pour les
                différents appareils mobiles. Chez ROM’S MEDIA, nous sommes
                passionnés par la création et nous inventons
                tout en oeuvre pour fournir des services de
                qualité supérieure à nos clients.
                
                Nous sommes fiers de travailler avec des
                entreprises de toutes tailles et de tous secteurs
                d’activité pour les aider à atteindre  leurs objectifs
                 de communication visuelle et digitale.
                
                Contactez-nous dès aujourd’hui pour découvrir
                comment nous pouvons aider votre entreprise à
                réussir dans le monde du numérique.
                
                </p>
            </div>  
    </div>

</section>