<!-- Navbar  Section Start -->

<header>
    <a href="#" class="logo"> <img src="../assets/images/LOGO Blanc.png" alt="" width="2000%"> </a>

    <div class="bx bx-menu" id="menu-icon" ></div>

    <ul class="navbar" id="navbar">
        <li><a href="#accueil">Accueil</a></li>
        <li><a href="#apropos">A Propos</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#projets">Projets</a></li>
        <li><a href="#contacts">Contact</a></li>
        <div class="bx bx-moon" id="darkmode"></div>
    </ul>
</header>
<!-- Navbar Section End -->
<app-accueil></app-accueil>
<app-apropos></app-apropos>
<app-services></app-services>
<app-projets></app-projets>
<app-contacts></app-contacts>
<app-fouter></app-fouter>