
    <section class="services" id="services" [ngStyle]="{'background': 'url(../assets/images/Fond.jpg)no-repeat', width:'100%',  }">
        <div class="heading">
            <h2>MARKETING DIGITAL</h2>
    
        </div>


 <div class="images">
    <img src="../assets/images/Rectangle 47.png" alt="">
 </div>
<p class="text1">Nous développons des stratégies efficaces pour augmenter la visibilité et la notoriété de nos clients sur le web. Nous proposons
    également des services de conception web mobile pour créer
    des sites web et des applications mobiles optimisées pour les
    différents appareils mobiles.</p>
</section>
<app-info></app-info>
<app-photo></app-photo>