
<section class="services" id="services" [ngStyle]="{'background': 'url(../assets/images/Fond.jpg)no-repeat', width:'100%',  }">
   
<div class="info-container">


<div class="images1">
    <div class="heading">
        <h2>PHOTO <br> SHOOTING</h2>

    </div>
<img src="../assets/images/Rectangle 45.png" alt="">
</div>

<div class="images2">
    <div class="heading">
        <h2>PHOTO/VIDEO <br> DE MARIAGE</h2>

    </div>
    <img src="../assets/images/Rectangle 46.png" alt="">
   
    </div>

 
</div>
<p class="text1">Nos PHOTOGRAPHIES de
    qualité professionnelle sont conçues pour mettre en valeur
     l’image de marque de nos clients et captiver leur public.</p>

</section>