
<section class="services" id="services" [ngStyle]="{'background': 'url(../assets/images/Fond.jpg)no-repeat', width:'100%',  }">
    <div class="heading">
        <h2>INFOGRAPHIE</h2>

    </div>
<div class="info-container">


<div class="images1">
<img src="../assets/images/Rectangle 43.png" alt="">
</div>

<div class="images2">
    <img src="../assets/images/Rectangle 48.png" alt="">
    <img src="../assets/images/Rectangle 51.png" alt="">
    </div>

    <div class="images3">
        <img src="../assets/images/Rectangle 49.png" alt="">
        <img src="../assets/images/Rectangle 52.png" alt="">
        </div>
</div>
<p class="text1">Nous créons des designs
    uniques et sur mesure pour des supports de  communication
   tels que: des logos, des flyers, des brochures, des affiches, etc.</p>

</section>