.projets-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 4rem 1rem;
    margin-top: 1rem;
  }
 .fond + img {
    width: 100%;
   
 }
  
  .projets-box {
    padding: 0px;
    width: 343px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
   
    box-shadow: #4d4f54 4px 4px 4px 4px;


  }
  .images{

    position: relative;
  }
  .images + img{
  
   display: block;
   margin: auto;
  }
  .contimages{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #E30613;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    color: white;
  
  }
  .contimages:hover{
    opacity: 0.2;
  }
  

  
  .projets-box h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0.7rem 0 0.4rem;
  }
@media (max-width:379){
    .fond + img{
      width: 100%;
    
    }
}