<section class="accueil" id="accueil" >

<div class="fond">
    <img src="/../assets/images/fond.jpeg" alt="" width="100%" height="480px">
</div>
<div class="projets-container" >
        
    <div class="projets-content">

        <div class="projets-box"  >
            <div class="images">
                <img src="/../assets/images/1.png" alt="" width="343px" height="200px">
                <div class="contimages">
                    
                </div>
            </div>
        </div>
        <div class="projets-box"  >
            <div class="images">
                <img src="/../assets/images/2.png" alt="" width="343px" height="200px">
                <div class="contimages">
                   
                </div>
            </div>
        </div>
        <div class="projets-box"  >
            <div class="images">
                <img src="/../assets/images/3.png" alt="" width="343px" height="200px" >
                <div class="contimages">
                 
                </div>
            </div>
        </div>
        <div class="projets-box"  >
            <div class="images">
                <img src="/../assets/images/4.png" alt="" width="343px" height="200px">
                <div class="contimages">
                  
                </div>
            </div>
        </div>
    </div>
</div>


</section>